h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

.card {
  margin-top: 30px;
  width: 100%;
  font-size: 14px;
}

.card-img-top {
  width: auto;
  text-align: center;
}

.card-img-top img {
  max-width: 100%;
  max-height: 100px;
  margin-top: 10px;
}

.card-body {
  padding: 1rem 1rem 0 1rem;
}

file {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.ng-invalid:not(form).ng-dirty  {
  border: 1px solid #a94442; /* red */
}

.invalid {
  color: #721c24;
}

.form-inline input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-inline button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
